@import 'fonts';

// bootstrap overrides variables
$primary: green;
// import bootstrap
@import '~bootstrap/scss/bootstrap';

// custom variables
$text-color: #2a2a2a;
$body-background: green;

body {
  background: url('../images/waterfall.jpg') no-repeat center;
  color: $text-color;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  h1 {
    background: rgba(255,255,255, .5);
  }
  .card-body {
    background: darken(aqua, 20%);
    color: lighten($text-color, 70%);
  }
}
