@import 'fonts';

// bootstrap overrides variables
$primary: red;
// import bootstrap
@import '~bootstrap/scss/bootstrap';

//$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/solid';
//@import '~@fortawesome/fontawesome-free/scss/regular';

// custom variables
$text-color: #2a2a2a;
$body-background: green;

body {
  background: url('../images/waterfall.jpg') no-repeat center;
  color: $text-color;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  h1 {
    background: rgba(255,255,255, .5);
  }
  .card-body {
    background: darken(aqua, 20%);
    color: lighten($text-color, 70%);
  }
}
